/* src/components/Socialbar.css */

.header {
  background: #D0F1F4;
}

.social-icons {
  display: flex;
  align-items: center;
}

.facebook-icon {
  color: #3b5998;
}

.whatsapp-icon {
  color: #25d366;
}

.instagram-icon {
  color: #c13584;
}

.linkedin-icon {
  color: #0077b5;
}

.Youtube-icon {
  color: #FF0000;
}

.facebook-icon:hover,
.Youtube-icon:hover,
.whatsapp-icon:hover,
.linkedin-icon:hover,
.instagram-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact,
.email {
  margin-right: 10px;
}

.email-icon,
a {
  text-decoration: none;
  color: #000;

}

.email-text {
  font-weight: 500;
}

.phone-text {
  font-weight: 500;
}

/* Media query for screens with a maximum width of 767 pixels (typical for mobile devices) */
@media only screen and (max-width: 767px) {
  .header {
    padding: 10px;
    /* Adjust padding for better spacing on smaller screens */
  }

  .social-icons {
    /* flex-direction: column; 
      align-items: center; */
    display: flex;

  }

  .contact-info {
    margin-bottom: 10px;
    /* Add margin between contact and email on smaller screens */
  }
}

@media (max-width: 768px) {
  .headercontainer {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    margin-bottom: 20px;
    /* Add some space between contact info and social icons */
  }


}


/* Navbar */
/* Add this CSS to your stylesheet or style section */
.navbar-nav li {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.course-dropdown a:hover {
  color: #4adbe8;

}

.course-dropdown a {
  font-weight: 500;
  font-size: 15px;

}

.course-dropdown {
  margin-top: 20px;

}

.dropdown .course-dropdown {
  margin-top: 25px;
}

/* Media query for mobile view */
@media (max-width: 767px) {
  .navbar-nav {
    /* Set flex direction to column for mobile view */
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    /* Reset margin for each nav item in mobile view */
    margin-right: 0;
  }

  .navbar-nav .dropdown {
    /* Adjust margin for dropdown in mobile view */
    margin-bottom: 8px;
  }

  .ms-auto {
    /* Move the search form to the left in mobile view */
    margin-left: auto;
    margin-right: 0;
  }
}


@media (max-width: 767px) {
  .dropdown .course-dropdown {
    margin-top: 0px;
  }
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #4adbe8;
}
.email-text:hover {
  color: #4adbe8;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #4adbe8;
}

/* .navbar-nav .nav-link {
    text-transform: uppercase;
} */

.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

/* Add this style for mobile view (e.g., screens smaller than 768px) */
/* Add this style for mobile view (e.g., screens smaller than 768px) */
/* @media (max-width: 768px) {
    .navbar.navbar-expand-lg {
        box-shadow: 0px 50px 52px rgba(0, 0, 0, 0.1); /* Customize the shadow as needed */
/* background-color: #cfd9da;
    }
}  */


/* Carousel  */

.carousel-i img {
  height: 535px;
  object-fit: cover;
  /* margin-right: 20px; */

}

/* Default styles */
.carousel-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: auto;

}

/* .carousel-i {
    position: relative;
  
  } */

.carousel-cap {
  position: absolute;

  top: 37%;
  left: 45%;
  transform: translate(-50%, -50%);

}

.explorecrs:hover {
  margin-left: 85px;
  /* Set the margin for larger screens */
  /* Center the button in mobile responsive views */
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #025978;
  color: #000;
  /* display: block; */

}

.explorecrs {
  width: 200px;
  height: 50px;
  border-radius: 90px;
  border: 1px;
  background-color: #025978;
  color: white;
  padding: 5px;
}



.carousel-cap {
  /* height: auto; */
  text-align: left;
  left: 340px;
  /* Adjust the left offset as needed */
  right: auto;
  bottom: 10%;
  /* Ensure right is set to auto to override Bootstrap styles */


}

.carousel-cap p h1 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #FFFFFF;
  /* Adjust the font size as needed */
}


@media (max-width: 767px) {
  .carousel-i img {
    max-width: 100%;
    display: block;
    height: 700px;
    width: auto;
    object-fit: cover;
  }

  .carousel-i::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(2, 89, 120, 0.5), rgba(2, 89, 120, 0.5));
    z-index: 1;
    pointer-events: none;
  }

  .carousel-cap p,
  .carousel-cap h1 {
    color: #FFFFFF;
    margin-bottom: 30px;
    opacity: 1;
    transition: opacity 0.3s ease;
    /* Add a transition for opacity */
  }

  .carousel-cap h1 {
    font-size: 35px;
  }

  .carousel-cap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    /* Set a higher z-index to bring the caption above the gradient */
    /* opacity: 1; */
    animation: fadeIn 3s ease-in-out;
  }

  .carousel-cap:hover {
    opacity: 1;
    /* Ensure opacity is 1 on hover */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .explorecrs:hover,
  .explorecrs:active {
    background-color: #fff;
    border: 1px solid #025978;
    z-index: 3;
    /* Higher z-index for the button */
    color: #000;
  }

  .carousel-container {
    text-align: center;
  }
}

.homepagecard {
  background-color: #ECFDFF;
  padding-bottom: 50px;
}

.cardImg {
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  height: auto;
  width: 325px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1img {
  margin-top: 10px;
  flex: start;
  padding: auto;
  margin-left: 18px;
  height: 80px;
  width: 80px;
}


.cardImg:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImg:hover .card-img-top {
  filter: brightness(80%);
}


.card-title {
  padding: 5px;
  font-size: 17px;
  color: black;
}

.card-text {
  padding: 5px;
}

.ourserv {
  color: #025978;

}

@media (max-width: 767px) {
  .cardImg {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    height: auto;
  }

  .card1img {
    width: 100px;
    max-width: none;
    height: auto;
    display: block;
    margin: 10px auto;
  }

  .card-title {
    text-align: center;
    padding: 0px 0px 0px 4px;
  }

}



/* 
About page css */
.AboutUs {
  background-color: #D0F1F4;
}


.aboutText p {

  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.abouth3 {
  color: #025978;


}



.aboutPara {


  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

}

.abouth6 {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #0097A4;

}

.abouth4 {

  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 50px;

}


.aboutTeamMem {
  background-color: #ECFDFF;
}

.abtcardHead {
  color: #35C1D5;
}

.abouth2 {
  color: #025978;
}

.abtdiff {
  background-color: #025978;


}

.joinUsBtn {
  width: 200px;
  height: 50px;
  border-radius: 90px;
  border: 1px solid #5BD066;
  background-color: #025978;
  color: #5BD066;
  padding: 5px;
}

.joinUsBtn:hover {
  background-color: #fff;
  border: 1px solid #5BD066;
  color: #5BD066;
}



.Iso-Btn {
  width: 200px;
  height: 40px;
  border-radius: 90px;
  border: 1px solid #5BD066;
  background-color: #025978;
  color: #f8fcf8;
  padding: 5px;
  margin-top: 5px;
  text-decoration: none;
  /* Remove default link underline */
  display: inline-block;
  /* Ensure inline-block for padding to work properly */
}

.Iso-Btn:hover {
  background: #fff;
  color: #025978;
  /* Change the text color to blue on hover */
}

/* .certibtn{
  color: #fff;
} */

/* .certibtn:hover{
  color: #000;
} */

/* Center the image on small screens */
@media (max-width: 767px) {
  .abouth4 {
    margin-left: 15px;
    margin-right: auto;
  }

  .aboutImg {
    margin-top: 20px;
  }

  .abouth2 {
    text-align: center;
  }
}

/* Regular styles for the video container */
.aboutvideo {
  margin: 0 auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .aboutvideo {
    width: 100%;
    /* Make the video container full width */
    max-width: 100%;
    margin-bottom: 40px;
    /* Ensure the video doesn't overflow */
  }

  .aboutvideo iframe {
    width: 100%;
    /* Make the video iframe full width */
    height: 300px;
    /* Let the height adjust proportionally */
  }
}

@media only screen and (max-width: 767px) {
  .abouth4 {
    margin-top: 0;
  }


}

@media (max-width: 767px) {
  .bottomvideo iframe {
    width: 100%;
    height: 100%;
  }
}



/* footer */


.footerCourses a {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: inherit;
}

.footerCourses a:last-child {
  margin-bottom: 0;
}

.moreFooter {
  text-align: center;
}




@media (max-width: 767px) {
  .moreFooter {
    text-align: start;
  }
}

/* courses */
/* full stack */
.fullstkCon {
  background-color: #D0F1F4;
  text-align: center;
}

.fullstkPara {
  font-size: 16px;
  font-weight: 400;
  /* line-height: 30px; */
  line-height: 250%;
  letter-spacing: 0em;
}

.accordionBtn {
  background-color: #35C1D5;
  color: #fff;
  font-size: 20px;
  border: 1px solid #35C1D5;

}

.customAccordion {
  background-color: #D0F1F4;
  width: 460px;

}

.plus-sign {
  font-size: 25px;
  padding: auto;
}

.accordion-item.customAccordion:not(.collapsing) .accordionBtn {
  background-color: #35C1D5;
  color: #fff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 660px;
}


.accordion-item.customAccordion:not(.collapsing) .accordionBtn:hover {
  background-color: #2a9cb7;

}




.FullstackCard {
  background-color: #0097A4;
  border: 1px solid #0097A4;
  border-radius: 50px;
  width: 480px;
  height: 215px;
}

.custom-vr {
  border-left: 1px solid #fff;
  height: 20px;
}

.FullstackCard2 {
  background-color: #0097A4;
  border: 1px solid #0097A4;
  border-radius: 50px;
  width: 480px;
  height: 400px;
}

.FullstackCard2 ul {
  font-size: 23px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;

}

.fullStackRight {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
}


.fullstackCourseDetail {
  background-color: #ECFDFF;
  padding: 20px;
}

.fullstackCrsDetail {
  background-color: #D0F1F4;
  padding: 10px;
}

.courseDetailText {
  color: #1F6D89;
}


.courseReview {
  background-color: #1F6D89;
}

.star-yellow {
  color: #FFE605;
  font-size: 24px;
}

.ReviewCard {
  background-color: #D0F1F4;
  border-radius: 25px;
  /* height: 400px; */
}


/* For Tablets */
@media (max-width: 1024px) {

  .FullstackCard,
  .FullstackCard2 {
    max-width: 100%;
    /* Adjust the max-width for tablets */
    height: auto;
  }

  .fullStackRight {
    margin-left: 5%;
    margin-right: 5%;
  }



}




/*  For Small Devices Screen */
@media (max-width: 767px) {
  .FullstackCard {
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 1rem;
  }

  .FullstackCard h2 {
    font-size: 25px;
  }

  .phone-icon {
    font-size: 6px;
  }

  .phone-text,
  .text-light {
    font-size: 14px;
  }

  .circleImg {
    display: none;
  }

  .courseCnt {
    text-align: center;
    margin: 0;
  }

  .FullstackCard2 {

    width: 100%;
    border-radius: 20px;
    padding: 1rem;

  }

  .FullstackCard2 h2 {
    font-size: 20px;
  }

  .FullstackCard2 ul {
    font-size: 20px;

  }

  .fullStackRight {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }



  .customAccordion {
    background-color: #D0F1F4;
    width: auto;

  }

  .ReviewCardfullstack {
    margin-bottom: 20px;
  }


}



/* Default styles for all devices */

/* Styles for devices with a maximum width of 768 pixels (tablets and smaller) */
/* Default styles for all devices */

/* Styles for devices with a maximum width of 768 pixels (tablets and smaller) */
@media only screen and (max-width: 768px) {
  .ReviewCard {
    margin-bottom: 20px;
    text-align: center;
    /* Adjust spacing between cards for smaller screens */
  }

  .ReviewText {
    font-size: 25px;
  }

  .std {
    text-align: center;
    /* Center both the image and text on smaller screens */
  }

  .std-img {
    display: block;
    margin: 0 auto;
    /* Center the image horizontally on smaller screens */
    height: auto;
    /* Let the image scale proportionally for smaller screens */
  }
}




@media (max-width: 1368px) and (min-width: 768px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 480px;
  }
}

@media (max-width: 1280px) and (min-width: 768px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 580px;
  }
}

@media (max-width: 1180px) and (min-width: 820px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 360px;
  }
}

@media (max-width: 1366px) and (min-width: 1024px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 480px;
  }
}


@media (max-width: 1280px) and (min-width: 800px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 580px;
  }
}


@media (max-width: 1024px) and (min-width: 600px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 280px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 380px;
  }
}

@media (max-width:1366px) and (min-width: 1024px) {
  .accordion-item.customAccordion:not(.collapsing) .accordionBtn {
    /* background-color: #35C1D5;
      color: #fff; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 480px;
  }
}


/* Inquiry */

.custom-btn-outline {
  color: #fff;
  border-color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.custom-btn-outline:hover {
  background-color: #35C1D5;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.customButton {
  width: 400px;
  height: 73px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 767px) {

  .customButton {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}


.inquiryCard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 35px;
}


.inquiryCard label.form-label {
  text-align: left;
  display: block;
  color: #000000;

}

@media (max-width: 767px) {
  .inquiryCard label.form-label {
    text-align: left;
    display: block;

  }
}

.submitButton {
  width: 242.04px;
  border-radius: 100px;
  border: 1px;
  background-color: #025978;
  color: white;
  padding: 5px;

}

.submitButton:hover {
  background-color: #fff;
  border: 1px solid #025978;
  color: #000;
}

@media (max-width: 767px) {

  .customButton {
    display: none;
    margin-bottom: 10px;

  }
}


/* Mission */
.readmore {
  width: 200px;
  height: 50px;
  border-radius: 90px;
  border: 1px;
  background-color: #025978;
  color: white;
  padding: 5px;

}

.boyimg {

  background-size: cover;
  /* Ensure the background image covers the full width */
  background-position: center;
  /* Center the background image */
  height: 550px;


  color: #000000;
}

.readmore:hover {
  background-color: #fff;
  border: 1px solid #025978;
  color: #000;
}




@media (max-width: 767px) {
  .img1 {
    height: auto;
    /* Adjust the height as needed for mobile devices */
    width: 100%;
    /* Make the image responsive within its container */

  }

  /* .abt{
        display: none;
    } */

  .img1 {
    display: none;
  }



  .readmore {
    margin-left: 85px;
    /* Set the margin for larger screens */

    /* Center the button in mobile responsive views */
    margin-left: auto;
    margin-right: auto;
    display: block;

  }
}

@media (max-width: 767px) {
  .col-md-8 ul {
    padding-left: 53px;
  }


}

@media only screen and (max-width: 768px) {
  .bullet {
    display: none !important;
  }
}

/* Jobs Card  */

.joborientedText {
  color: #025978;
  margin: 40px;
}

.commonCardContent {
  font-size: 1rem;
  line-height: 1.4;
}

.jobrowcard {
  display: flex;
  flex-wrap: wrap;
}

.jobCard {

  text-align: left;
  border: 1px solid #fff;
  /* border-radius: 35px; */
  height: 300px;
  width: 300px;
  /* background-color:  #D0F1F4; */


}

.rowCardImgTop {
  height: 200px;
  margin-top: 2px;
  width: 100%;
  /* border: 0.5px solid  #D0F1F4; */
  /* border-radius: 32px 32px 0px 0px; */

}

.cardBody {
  background-color: #D0F1F4;
  /* border: 1px solid #fff; */
  /* border-radius: 0px 0px 35px 35px; */
}

/* .jobCardBody {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.jobCardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* .jobCardText {
  font-size: 1rem;
  margin-bottom: 10px;
} */
.viewDetailBtn {
  border: 1px solid #D0F1F4;
  border-radius: 35px;
  Height: 40px;
  width: 200px;
  background-color: #025978;
  color: #fff;
  justify-content: center;
}

.viewDetailBtn:hover {
  background-color: #fff;
  border: 1px solid #025978;
  color: #025978;
}

.jobCard:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blueCard {
  text-align: center;
  border: 1px solid #35C1D5;
  border-radius: 35px;
  height: 500px;
  background-color: #35C1D5;
}

.jobCardparagragh {
  margin-top: 20%;
  margin-bottom: 40%;
  font-size: 30px;
}

.customJobMargin {
  margin-left: 50px;
}




@media (max-width: 767px) {
  .customJobMargin {
    margin: 0;
  }

  .blueCard {
    /* width: 100%;  */
    padding: 20px;
    height: 270px;
    border-radius: 0;
  }

  .jobCardparagragh {
    font-size: 15px;
    padding-bottom: 10px;
  }
}


.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.radianttitle {
  font-size: 30px;
  color: #FFFFFF;
  margin: 130px 0;
}

@media (max-width: 767px) {
  .cardradiant {
    height: auto;



  }

  .radianttitle {
    font-size: 30px;
    /* Adjust the font size for smaller screens */
    margin: 65px 0;
    /* Adjust the margin for smaller screens */
    /* margin-bottom: 500px; */

  }


}

@media (max-width: 767px) {
  .col-md-4 {
    width: 90%;
    margin: auto;
    /* Each card takes the full width on smaller screens */
  }

  .cardradiant {
    width: 90%;
    margin: auto;
  }
}


.sucstories h3 {
  word-break: break-all;
  margin-top: 20px;
  color: #025978;
}


.sucstoriespara {
  font-weight: 600;
  font-size: 15px;

}

@media (min-width: 768px) {
  .sucstories {
    text-align: start;
    margin-left: 0;
    display: inline-block;
  }
}

/* Testimonial */

.tetsmocontainer {
  background-color: #ECFDFF;
  padding-bottom: 50px;
}

.tstmoHead {
  color: #35C1D5;
  font-size: 40px;
  font-weight: 700;
}

.tstspan {
  display: flex;
  justify-content: center;
  text-align: center !important;
}

.row .tstmopara {
  margin-top: 60px;
  margin-bottom: 100px;
}

.tsth6 {
  margin-left: 10px;
  font-weight: 700;
}

.tstmoBtn {
  width: 253.92px;
  height: 40px;
  border: 1px solid #025978;
  border-radius: 100px;
  background-color: #025978;
  color: #fff;
  margin-top: 15px;
  padding: 5px;

}

.tstmoBtn:hover {
  background-color: #fff;
  color: #025978;
}


.tstmoCarousel {
  margin-top: 50px;
  padding: auto;
}

/* .carouselEmpDiv{
  flex: 1;
  background-color: #025978;
  height: 410px;
  width: 50px; 
} */


.carouselContent {

  background-color: #FFFFFF;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px #00000040;

}

.placementNews {
  color: #025978;
}

.plmntCrousel {
  /* width: 750px; */
  margin-left: auto;
  margin-right: auto;
}

.subscribeCard {

  background-color: #025978;
  color: #fff;
  height: 300px;
  border-radius: 35px;
}

.subscribe {
  display: flex;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subscribe>p {
  margin-top: 60px;
  white-space: pre-line;
}

.inputGrp {
  width: 500px !important;
}


.subcribeInp {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #D0F1F4;
}

.subscribeBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 100px;
  height: 38px;
  background-color: #35C1D5;
  border: none;
  color: #fff;
}

.subscribeBtn:hover {
  background-color: #afb1b2;
  color: #fff;
}

/* styles.css */

.testminfo {
  text-align: left;
  color: #025978;
  position: relative;
  margin-left: 30px;
}

.testminfo:before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #025978;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  /* Adjust the distance of the line from the text */
}



@media (max-width: 767px) {
  .tetsmocontainer .tstimg {
    display: none !important;
  }

  .tstmoHead {
    margin-right: 60px;
  }

  .tstmoContainer .tstspan {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 800;
    text-align: start !important;
  }


  .tstmoHead {
    font-size: 30px;
    text-align: center;
  }

  .row .tstmopara {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .tsth6 {
    text-align: center;
    font-weight: 700;
  }

  .tstmoBtn {
    width: 100%;
  }

  .tstmoCarousel {
    margin-top: 30px;
  }

  .plmntCrousel {
    height: auto;
    width: auto;
    /* padding: 5px; */
  }

  .inputGrp {
    width: 250px !important;
  }

  .subscribe .inputGrp {
    margin-bottom: 0px;
  }

  .subcribeInp {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .subscribeBtn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .placementNews {
    margin-right: auto;
    margin-left: auto;
  }

  .tstmoCarousel {
    height: auto;
    width: auto;

  }


}

@media only screen and (max-width: 600px) {
  .testminfo {
    /* Adjust styles for screens with a maximum width of 600 pixels or less */
    text-align: center;
    margin-left: 0;
  }

  .testminfo:before {
    /* Adjust styles for screens with a maximum width of 600 pixels or less */
    display: none;
    /* Hide the line on smaller screens */
  }

  .tstmoHead {
    text-align: center;
    margin-left: 46px;
  }
}

/* Default styles for larger screens */
/* .testmoprev, */
.testmonext {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 50%;
  font-size: 1.5em;
  /* Adjust as needed */
  text-align: center;
  line-height: 38px;
  /* Adjust for vertical centering */
  /* color: #000; */
  /* Text color for the icons */
  cursor: pointer;
  /* Add cursor pointer for better usability */
}

/* .testmoprevicon, */
.testmonexticon {
  color: black;
}

.testmoprev {
  left: 105px;
}

.testmonext {
  left: 385px;
}

.testmonexticon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

/* Media query for screens with a maximum width of 600 pixels or less */
@media only screen and (max-width: 600px) {

  /* .testmoprev, */
  .testmonext {
    top: 25%;
    width: 45px;
    height: 45px;
    font-size: 1em;
  }

  .testmoprev {
    left: 65px;
    /* Adjust the left positioning for mobile */
  }

  .testmonext {
    left: 255px;
    /* Adjust the left positioning for mobile */
  }
}


/* Services */
.DigitalMrktSer {
  background-color: #35C1D5;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;


}

.webDevelopmentSer {
  background-color: #ECFDFF;
}

.webDevSer {
  background-color: #35C1D5;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px
}

.servicsText {
  color: #1F6D89;
}

.GraphicDesignSer {
  background-color: #1F6D89;
}

/* Contacts */

.custom-input {
  border-color: #0097A4;
}

.sendMsgBtn {
  width: 200px;
  height: 50px;
  border-radius: 90px;
  border: 1px solid #025978;
  background-color: #025978;
  color: #fff;
  padding: 5px;
}

.sendMsgBtn:hover {
  background-color: #fff;
  border: 1px solid #025978;
  color: #025978;
}

.getInTouch {
  color: #025978;
}

@media (max-width: 767px) {
  .getInTouch {
    text-align: center;
  }
}

/* Placements */
/* .placement {
    background-color: #D0F1F4;
} */

.placementcrd {
  background-color: #ECFDFF;
  border-radius: 20PX;
}

.placementText {

  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #0000006B;
}

.placementh3 {
  color: #025978;
}

.placementhimgs img {
  object-fit: cover;
  width: '100%';
  height: '100%';

}


/* //placement */
.placementdrive {
  background-color: #1F6D89;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-border {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #5BD066;
  /* Common border color */
  padding: 10px;
  height: 200px;
  width: 900px;
  border-radius: 20px;
  /* Adjust padding as needed */
}


.inline-heading {
  margin-right: 10px;
  /* Adjust margin between heading and button */
  text-align: center;
}

/* .regnowbtn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #5BD066;
  background-color: #1F6D89;
  color: #5BD066;
  padding: 5px;
  margin-left: 25px;
  

} */

.register-btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #5BD066;
  background-color: #1F6D89;
  color: #5BD066;
  padding: 5px;
  margin-left: 25px;

}

.register-btn:hover {
  background-color: #fff;
  color: #5BD066;
}

/* .regnowbtn:hover {
  background-color: #fff;
  color: #5BD066;
} */

.inline-heading {
  margin-left: 170px;

}

/* .placedcrds {
  margin-top: 50px;
  background-image: url('../../assets/images/circle1.png');
  background-size: cover;
  background-position: center;

} */

.btnsucachivers {
  background-color: #35C1D5;

}


@media only screen and (max-width: 600px) {

  .register-btn {
    margin-top: 20px;
  }
}




@media only screen and (max-width: 600px) {
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;

  }

  .inline-heading {
    margin-left: 0;
    margin-right: 0;
    font-size: medium;



  }

  /* .regnowbtn {
    width: auto;
    margin: 15px 0;
    
  } */
}


@media (max-width: 767px) {
  .placementcrd {
    /* Add space between cards on mobile */
    width: 80%;
    height: auto;
    margin: auto;

    background-color: #ECFDFF;
    margin-bottom: 20px;
    border-radius: 0;
    text-align: center;

  }

  .placementimgs {
    text-align: center;
    /* Center the image on mobile */
    margin-bottom: 15px;
    /* Add space below the image on mobile */
    height: auto;
    margin-top: 20px;
  }



}

@media (max-width: 575.98px) {

  /* Adjust the layout for mobile screens */
  .carousel-inner .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .carousel-item .row .col-md-2 {
    flex: 0 0 calc(50% - 10px);
    /* Two images with a small gap between them */
    margin: 5px;
  }
}


/* Projects */
.ProjectSec2 {
  color: #025978;
}

.ourCanProject {
  background-color: #35C1D5;
}

/* .placementdrive {
  background-color: #1F6D89;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid #5BD066;

  padding: 10px;
  height: 200px;
  width: 900px;
  border-radius: 20px;

} */


/* 
.inline-heading {
  margin-right: 10px;

  text-align: center;
} */



.regnowbtn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #5BD066;
  background-color: #1F6D89;
  color: #5BD066;
  padding: 5px;
  margin-left: 25px;

}

.regnowbtn:hover {
  background-color: #fff;
  color: #5BD066;
}

.inline-heading {
  margin-left: 170px;

}

.job-card {
  text-align: end;
}

.school-txt {
  margin-right: 25px;
}

@media only screen and (max-width: 600px) {
  .school-img {
    margin: 0 auto;
    display: block;
    height: auto;
  }

  .school-txt {
    text-align: center !important;
    margin-right: 22px;
    margin-left: 22px;

  }

  .priyanka {
    margin-left: 60px;
  }

}





@media only screen and (max-width: 600px) {
  /* .content-wrapper {
      width: 90%;
      margin: 0 auto;
  } */

  .inline-heading {
    margin-left: 0;
    margin-right: 0;

  }

  .regnowbtn {
    width: 100%;
    margin: 15px 0;
  }
}

@media (max-width: 767px) {
  .CardImgTop {
    margin: 0 auto;
    display: block;
    height: auto;
  }

  .TextEnd,
  .TextStart {
    text-align: center !important;
  }
}

/* Contacts */

.custom-input {
  border-color: #0097A4;
}

.sendMsgBtn {
  width: 200px;
  height: 50px;
  border-radius: 90px;
  border: 1px solid #025978;
  background-color: #025978;
  color: #fff;
  padding: 5px;
}

.sendMsgBtn:hover {
  background-color: #fff;
  border: 1px solid #025978;
  color: #025978;
}

.getInTouch {
  color: #025978;
}

@media (max-width: 767px) {
  .getInTouch {
    text-align: center;
  }
}